body {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.clearfix {
  overflow: auto;
}

#btnIntl {
  float: right;
  margin-top: 5px;
}

#btnPrint {
  float: right;
  margin: 5px;
  display: flex;
  padding-bottom: 4px;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

hr {
    margin : auto;
}

h1 {
  font-size: 40px;
  color: darkorange;
  line-height: 48px;
  display: inline;
}

#role {
  color: white;   
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: dimgray;
  line-height: 29px;
  padding: 10px;
  margin: 0;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: dimgray;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: dimgray    ;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display:block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: darkorange;
  display: none;
  font-size: 18px;
}

#workExperience {
    margin-top: 0;
}

.orange {
  background-color: #F5AE23;
}

.orange-text {
  color: darkorange;
}

.white-text {
  font-weight: bold;
  color: whitesmoke;
}

.gray {
  background-color:lightgray;
  padding-bottom: 10px;
  clear:both;
}

.black {
  background-color: black;
}

#goTo {
  float: right;
  display: inline;
  margin: 0;
  color: blue;
  font-size: 16px;
  font-style: italic;
}
/* TODO: Replace with image later */
#header {
  background-color: black;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5px
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

#nav {
  width: 100%;
  padding-bottom: 5px;
  padding-top: 0;
}

#navButton {
  display: inline;
  flex-wrap: nowrap;
  flex-direction: row;
  width:20%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  }

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
  #navButton {
    width: 20%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
  #navButton {
    width: 20%;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  #navButton {
    width: 20%;
  }
  .welcome-message,
  #btnIntl {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  #letsConnect {
    margin-top: 10%;
  }
  #btnIntl,
  .biopic,
  .welcome-message,
  #skillsH3 {
    display: none;
  }
  #navButton {
    width: 20%;
  }
  #nav {
    padding: 0;
  }
  #role {
    font-size: 90%;
  }
    
  h1 {
    font-size: 25px;  
  }
    
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
